@use './variables';

.blogHeader{
    background-image: url(../textilee-assets/blog-header.jpg);
    height: 500px;
    position: center;
    background-size: cover;
}

.blogMain{
    background-color: variables.$lightSkyBlue;
}

.blogPics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.blogPicsLeft{
    width:750px;
    border: solid variables.$turquioseBlue 5px ;
    font-size: 75%;
}

.blogPicsLeft, .blogPicsLeft h3, .blogPicsLeft h6{
    background-color: variables.$darkSlateBlue;
    color: variables.$pureWhite;
}

.sidebar{
    background-color: variables.$darkSlateBlue;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    line-height: 28px;
    text-decoration: none;
    color: variables.$pureWhite; 
    border: 2px solid variables.$darkSlateBlue;
}

.sidebar h3{
    color: variables.$pureWhite;
}

.blogList{
    color: variables.$pureWhite;
}

.blogList ul li{
    color: inherit;
}

.sidebar p{
   width: 170px;
   font-size: 75%;
}

.blogComments{
    
    width: 750px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 50px;
    margin-bottom: 50px;
}

.blogComments h5{
    font-size: 150%;

}

.commentAlign{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.commentAlign div{
    font-size: 75%;
    max-width: 80%;
}

.commentAlign div h6{
    color: variables.$darkSlateBlue;
    font-size: 125%;
}

.inputBox{
    margin: 0 50px;
    display:flex;
    flex-direction: column;
    width: 750px;
}

.blogDetailInput{
    background-color: variables.$lightSkyBlue;
    padding: 0; 
}

.detailBox{
    width: 370px;
    background-color: variables.$lightSkyBlue;
    border:none;
    border-bottom: 2px solid variables.$turquioseBlue;
}

.blogCommentInput{
    background-color: variables.$lightSkyBlue;
    width:100%;
    height: 300px;
    border: 2px solid variables.$turquioseBlue;
    margin-top: 20px;
    margin-bottom: 50px;
}

.blogButton{
    width: 100%;
    height: 50px;
    background-color: variables.$darkSlateBlue;
    color: variables.$pureWhite;
    border: none;
    margin-bottom: 75px;
    font-family: variables.$headingFont;
}

