@use './variables';

.contactHeader {
    background-image: url(../textilee-assets/contact-header.jpg);
    height: 300px;
    background-size: cover;
}

.contactMain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: variables.$lightSkyBlue;
}

.contactInput{
    width: 750px;
    background-color: variables.$darkSlateBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    border:5px solid variables.$turquioseBlue;
}

.contactDetailInput{
    width: 340px;
    background-color: variables.$darkSlateBlue;
    color: variables.$pureWhite;
    border:none;
    border-bottom: 2px solid variables.$turquioseBlue;
    margin-top:10px;
}

.contactMessageInput{
    background-color: variables.$darkSlateBlue;
    color: variables.$pureWhite;
    width:100%;
    height: 300px;
    border: 2px solid variables.$turquioseBlue;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contactButton{
    width: 100%;
    height: 50px;
    background-color: variables.$lightSkyBlue;
    color: variables.$blackOne;
    border: none;
    font-family: variables.$headingFont;
}

.contactInfo{
    width:200px;
    margin-top: 90px;
}

.contactLogosEmail{
    display:flex;
    flex-direction: column;
}

.contactLogoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactInfoStack p{
    font-size: 16px;
    line-height:16px;
    letter-spacing: 2px;
}

//Alright, here's where it gets really un-DRY, probably. I am scared to touch anything here for fear of it breaking. Please don't breathe on this code too hard.
//Jokes aside, this and contact's scss was constructed a different day than the torrent of tiny partials - as you can see its all combined into one.
//I *think* this way is better. Maybe. 