@use './variables';

.footer{
    height: 50px;
    background-color: variables.$blackTwo;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
}

.footer h4{
    font-family: variables.$bodyFont;
    letter-spacing: 2px;
    color: variables.$pureWhite;
}