@use "./variables";

.gallery {
    background-color: variables.$darkSlateBlue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:400px;
}