@use "./variables";

.wrapper{
    width:90%;
    margin: 0 auto;
    max-width: 1260px;
}

img{
    max-width: 100%;
    display: block;
  }

  .buttonMore{
    height: 40px;
    width: 150px;
    background-color:variables.$darkSlateBlue;
    border: none;
  }

  //Globals. I have to be up front - there is probably FAR more I could have included here. Originally created to house the wrapper, I threw in a few more classes then promptly forgot about it.
  // Wrapper looks weird to my eyes - my non-standard computer monitor makes it look like its WILDLY broken to me on my end. However I KNOW this is the default "standard" wrapper config.
  //what an annoyance.