@use "./variables";

.links{
    background-color: variables.$lightSkyBlue;
    height: 600px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.linkText h3, .linkText p{
    color: variables.$pureWhite;
}

//Links being a poor descriptor of a section in the index, but i've already touched on that earlier. Perhaps it could be included in one larger partial, but I gotta be honest, having
//small, discrete partials for sections is something I really like! I hope it isn't a bad idea, but if it is i'm prepared to change my ways.

