@use "./variables";

.links{
    background-color: variables.$lightSkyBlue;
    height: 600px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.linkText h3, .linkText p{
    color: variables.$pureWhite;
}

