@use './variables';

@media (max-width: 1000px){
    body{
        font-size: 80%;
    }
    img{
        max-width: 80%;
        max-height: 70%;
    }
	
}

@media (max-width: 750px){
    body{
        font-size: 70%;
    }
    img{
        max-width: 70%;
        max-height: 60%;
    }

}

@media (max-width: 320px){
    body{
        font-size: 60%;
    }
    img{
        max-width: 60%;
        max-height: 50%;
    }

}

//Media queries. Probably rudimentary, but I think they work well enough. Testing is hard, however. A non-standard monitor size may be throwing me off. I don't know for sure.
//As alawys, i'm willing to wager repetition will maek this come like muscle memory.