@use './variables';

.search{
    background-color: variables.$lightSkyBlue;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search p {
    width: 80%;
}

//Tiny bit of styling for the search bar at the bottom of the index. This REALLY could have been lumped in with another partial - but i'll be honest, I was in a bit of a 
//fugue state that day and on a partial-creating roll. Guess it can't hurt anything at least? 