// COLORS: 
$darkSlateBlue: #1A315C;
$blackOne: #1E1713;
$turquioseBlue: #0CADC0;
$lightSkyBlue: #CCEDFB;
$blackTwo: #161515;
$pureWhite: #FFFFFF;

//FONTS

$headingFont: "Pacifico";
$bodyFont: "Lato";

$baseFontSize: 1rem;

//The EXTREMELY important yet innocuous looking variables partial. Glad they drove it into our heads that this needed to be initialized on all other partials, never forgot once!