// COLORS: 
$darkSlateBlue: #1A315C;
$blackOne: #1E1713;
$turquioseBlue: #0CADC0;
$lightSkyBlue: #CCEDFB;
$blackTwo: #161515;
$pureWhite: #FFFFFF;

//FONTS

$headingFont: "Pacifico";
$bodyFont: "Lato";

$baseFontSize: 1rem;